.col-sm-2 > select,input
{
    width: 155px;
}


.box-title h2 small{
    color: white;
  }
  
  .box-title, .no-border {  
    background-color: #01231E;
    color: white;
  }

  .list-group-item {
    border:solid 0px;
  }