.tab-box
{
    border: solid 0px blue;
    padding: 0;
    width: 100%;
}

.panel-body-company-edit
{
    background-color: white;
    border: solid 0px red;
    padding: 50px;
}

.form-horizontal
{
    margin: 0px;
    width: 80%;
    text-align: left;
    padding: 0;
    margin-top: 20px;
}

.basic-btn
{
    width: 50%;
    background-color: #149078;
    color: white;
}

.example-full-width {
    border: solid 0px red;
    width: 30em;
    margin-left: 10px;

}