.main-container {
    background-color: white;
}

#jobForm {
    border: solid 0px red;
    width: 100%;
}
.table-sm {
    border: solid 0px red;
}

.btn-default {
    width: 20%;
}
.basic-btn
{
    width: 20%;
    background-color: #149078;
    color: white;
    margin-right: 20px;
}

.job-edit-container {
    min-height: 50em;
    border: solid 0px red;
}

.job-edit-container h1 {
	font-size: 1.2em;
    color:#369;
    font-weight: bold;
    line-height: 1em;
    margin-top: 50px; 
}

.example-full-width {
    width: 75%;
}

.example-full-width-textarea  {
    width: 75%;
}

