.login-container {
    width: 100%;
    padding: 80px;
    margin: auto;
    border:solid 0px;
    text-align: center;
    background-position: center;
    background-size: 100%;
}

.form-container {
    border: solid 1px whitesmoke;
    box-shadow: 8px 8px 12px #aaa;
}

.basic-btn {
    border-width: 0;
    background-color: #149078;
}

