<div class="signup-container">
  <br/>
  <p class="sub animateme fittext3 animated fadeIn" style ="color:black">
    Tirez le meilleur parti de votre vie <b>professionnelle</b>
  </p>
  <br/>
  <div class="form-container">
      <a [routerLink]="['/']">
        <img alt="AmJob" src="assets/img/logo-amjob.png" width="160px"/>
      </a>
    <br/><br/>
    <span class="error" *ngIf="error">{{ error }}</span>
    
    <!-- Default form subscription -->
    <form class="text-center border border-light p-5" #formData='ngForm' (ngSubmit)="onSubmit(formData)" id="ngForm">
        <input type="text" id="name"(ngModel)="name" name="name" required  class="form-control mb-4" placeholder="Nom Compagnie">
        <br/>
        <input type="email" id="txtemail"(ngModel)="email" name="email" required  class="form-control mb-4" placeholder="E-mail">
        <br/>
        <input type="password" id="txtpassword" class="form-control mb-4" placeholder="Password" required (ngModel)="password" name="password">
        <br/>
        <input type="text" id="txtcity"(ngModel)="city" name="city" required  class="form-control mb-4" placeholder="Ville">
        <br/>
        <input type="text" id="txtcountry"(ngModel)="country" name="country" required  class="form-control mb-4" placeholder="Pays">
        <br/>
        <input type="text" id="txtsecondemail"(ngModel)="secondemail" name="secondemail" required  class="form-control mb-4" placeholder="E-mail secondaire">
        <br/>
        <p class="txtconditions">
            Vous acceptez les Conditions d’utilisation, la Politique de confidentialité et la Politique relative aux cookies de AmJob.
        </p>
        <button mdbBtn color="info" block="true" type="submit"  [disabled]="!formData.valid" class="btnSignIn">Accepter et S'inscrire</button>
        <br/>
        <a routerLink="/login-company" routerLinkActive="active" class="alc">Déjà inscrit(e)?  <strong> Se connecter à votre compte Entreprise</strong></a>
  
      </form>
      <!-- Default form subscription -->
  </div>
  </div>