.signup-container {
    width: 100%;
    padding: 80px;
    margin: auto;
    border:solid 0px;
    text-align: center;
    background-position: center;
    background-size: 100%;
    background-image: linear-gradient(141deg, black 0%, #1fc8db 51%, #2cb5e8 75%);
}