<app-header></app-header>
<div id="wrapper">
    <div class="main-container">
        <div class="container">
              <div>
                  <div class="sectionHeader">
                    Abdou Dione - Senior .NET Developer at Societe Generale, Paris(France)                   
                  </div>
                    <div class="sectionIntro">
                        <div class="section11Profile" style="float: right;">
                            <img class="card-img-top imgProfile2" [src]="(authService.user$ | async)?.photoURL || 'assets/img/default-user.jpg'">
                        </div>
                        <p>
                            Pretended exquisite see cordially the you. Weeks quiet do vexed or whose. Motionless if no to affronting imprudence no precaution. My indulged as disposal strongly attended.Motionless if no to affronting imprudence no precaution. My indulged as disposal strongly attended.
                        </p>
                        <p>
                            All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                        </p>                   
                    </div>
                    <div>
                    <div class="sectionProfile">
                            <div class="col-sm-9 page-content col-thin-left tab-box-container">
                                    <div class="tab-box">
                                      <mat-tab-group>
                                        <mat-tab label="Profil"></mat-tab>
                                        <mat-tab label="Expérience professionnelle"></mat-tab>
                                        <mat-tab label="Formation"></mat-tab>
                                        <mat-tab label="Offres d'emploi postulés"></mat-tab>
                                        <mat-tab label="Paramètres"></mat-tab>
                                      </mat-tab-group>
                                    </div>
                            </div>
                            <div class="clear"></div>

                            <div class='btnContainer'>
                                    <button class="btn basic-btn" type="button">Editer <i class="fa fa-pencil-square"></i></button>
                                    <button class="btn basic-btn bntundoleft" type="submit"><i class="fa fa-save"></i> Submit</button>
                            </div>
                    </div>
                    <!--
                        <div class="sectionExperience">
                                <section>
                                        <div class="sectionContent">
                                            <h1>Expérience professionnelle</h1>
                                            <hr color="#FAFAFA"/>
                                            <article>
                                                <h2>Senior .NET Front Office Developer, Societe Generale</h2>
                                                <p class="subDetails">April 2011 - Present</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
                                            </article>
                                            
                                            <article>
                                                <h2>.NET Software Development Engineer - Structured Products, Societe Generale</h2>
                                                <p class="subDetails">Janruary 2007 - March 2011</p>
                                                <p>Curabitur non consequat enim. Vestibulum bibendum mattis, lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
                                            </article>
                                            
                                            <article>
                                                <h2>Analyste Programmeur Silverlight, JiveFusion</h2>
                                                <p class="subDetails">October 2004 - December 2006</p>
                                                <p>Curabitur non consequat enim. Vestibulum bibendum mattis, lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
                                            </article>
                                        </div>
                                        <div class="clear"></div>
                                    </section>
                        </div>
                        <div class="sectionFormation">
                            <section>
                                    <div class="sectionContent">
                                        <h1>Formation</h1>
                                        <hr color="#FAFAFA"/>
                                        <article>
                                            <h2>Université de Montreal</h2>
                                            <h3><i><b>Bachelor degree - Computer Science</b></i></h3>
                                            <h3 class="date"><i>2005 - 2009</i></h3>

                                        </article>
                                        
                                        <article>
                                            <h2>Ecole Supérieure Polytechnique de Dakar</h2>
                                            <h3><i><b>(DUT) Diplome Universitaire de Technologie</b></i></h3>
                                            <h3 class="date"><i>2003 - 2005</i></h3>
                                        </article>
                                    </div>
                                </section>                                
                        </div>
                        <div class="sectionStats">
                            <div class="section2Profile">
                                <div class="section22Profile">
                                </div>
                            </div>
                            <div class="section2Profile">
                                    <div class="section22Profile">
                                    </div>
                                </div>
                        </div>
                    -->
                    </div>
              </div>
        </div>
    </div>
</div>
