<app-header></app-header>
<div id="wrapper">
    <div class="main-container">
        <div class="container">
              <div>
                  <div class="sectionHeader">
                    <h2 *ngIf="(authService.user$ | async)">{{user.firstname}} {{user.lastname}} - {{user.profession}}</h2>                   
                  </div>
                    <div class="sectionIntro">
                        <div class="section11Profile" style="float: right;">
                            <img class="card-img-top imgProfile2" [src]="(authService.user$ | async)?.photoURL || 'assets/img/default-user.jpg'">
                        </div>
                        <p *ngIf="(authService.user$ | async)" class="textintro">
                                {{user.introduction}}
                        </p>               
                    </div>
                    <div>
                    <div class="sectionProfile">
                            <div class="col-sm-9 page-content col-thin-left tab-box-container">
                                    <div class="tab-box">
                                      <mat-tab-group>
                                        <mat-tab label="Profil">
                                            <div *ngIf="(authService.user$ | async)">
                                            <form class="form-horizontal"  id="profileForm" #profileForm = "ngForm" (ngSubmit)="onSubmitProfile(profileForm.value)">
                                                <input  name="id" #id="ngModel" [(ngModel)]="user.uid" hidden="hidden" > 

                                                <div class="panel-user-profile-left">
                                                        
                                                            <div class="form-group">
                                                                    <div class="col-sm-9" >
                                                                        <mat-form-field class="example-full-width">
                                                                                <input matInput name="lastname" #lastname="ngModel" [(ngModel)]="user.lastname" placeholder="Nom" required />
                                                                        </mat-form-field>
                                                                    </div>
                                                            </div>
                     
                                                            <div class="form-group">
                                                                    <div class="col-sm-9">
                                                                            <mat-form-field class="example-full-width">
                                                                                    <input matInput name="firstname" #firstname="ngModel" [(ngModel)]="user.firstname" placeholder="Prenom" required />
                                                                            </mat-form-field>
                                                                    </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col-sm-9">
                                                                        <mat-form-field class="example-full-width">
                                                                                <input matInput name="profession" #profession="ngModel"  [(ngModel)]="user.profession" placeholder="Profession" />
                                                                        </mat-form-field>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <mat-form-field class="example-full-width-textarea" >
                                                                    <textarea  style="min-height:120px;" matInput name="introduction" #introduction="ngModel" [(ngModel)]="user.introduction" placeholder="Présentation"> </textarea>
                                                                </mat-form-field>
                                                            </div>
                                                </div>

                                                <div class="panel-user-profile-right" *ngIf="(authService.user$ | async)">
                                                        <div class="form-group">
                                                            <div class="col-sm-9">
                                                                    <mat-form-field class="example-full-width">
                                                                            <input matInput name="address" #address="ngModel" [(ngModel)]="user.address" placeholder="Adresse"/>
                                                                    </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-sm-9">
                                                                    <mat-form-field class="example-full-width">
                                                                            <input matInput name="phone" #phone="ngModel" [(ngModel)]="user.phone" placeholder="Téléphone" />
                                                                    </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                                <div class="col-sm-9">
                                                                        <mat-form-field class="example-full-width">
                                                                                    <input matInput name="email" #email="ngModel"  [(ngModel)]="user.email" placeholder="E-mail" />
                                                                        </mat-form-field>
                                                                </div>
                                                        </div>
                                                        <div  class="form-group">
                                                            <div class="col-sm-9">
                                                                    <mat-form-field class="example-full-width-combobox">
                                                                            <mat-label>Années d'expérience</mat-label>
                                                                            <mat-select>
                                                                                    <mat-option value="option1">0-3</mat-option>
                                                                                    <mat-option value="option2">3-6</mat-option>
                                                                                    <mat-option value="option3">6-10</mat-option>
                                                                                    <mat-option value="option3">> 10</mat-option>
                                                                            </mat-select>
                                                                    </mat-form-field>
                                                            </div>
                                                        </div>
                                            </div>
                                            <div class="clear"></div>

                                            <div class='btnContainer'>
                                                    <button class="btn basic-btn bntundoleft" type="submit" [disabled]="!profileForm.valid">Enregister</button>
                                            </div>
                                        </form>
                                        </div>
                                    

                                    </mat-tab>
                                        <mat-tab label="Offres d'emploi postulés">
                                            <div class="profile-mat-tab-container">
                                                <ul>
                                                    <li class="list-group-item" *ngFor="let job of postedJobs | async">
                                                    <app-postedjob-item [job]=job></app-postedjob-item>
                                                    </li>
                                                </ul>
                                            </div>
                                        </mat-tab>
                                        <mat-tab label="Expérience professionnelle"></mat-tab>
                                        <mat-tab label="Paramètres"></mat-tab>
                                     
                                      
                                    
                                    </mat-tab-group>
                                    </div>
                            </div>
                            <div class="clear"></div>


                    </div>
                    <!--
                        <div class="sectionExperience">
                                <section>
                                        <div class="sectionContent">
                                            <h1>Expérience professionnelle</h1>
                                            <hr color="#FAFAFA"/>
                                            <article>
                                                <h2>Senior .NET Front Office Developer, Societe Generale</h2>
                                                <p class="subDetails">April 2011 - Present</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
                                            </article>
                                            
                                            <article>
                                                <h2>.NET Software Development Engineer - Structured Products, Societe Generale</h2>
                                                <p class="subDetails">Janruary 2007 - March 2011</p>
                                                <p>Curabitur non consequat enim. Vestibulum bibendum mattis, lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
                                            </article>
                                            
                                            <article>
                                                <h2>Analyste Programmeur Silverlight, JiveFusion</h2>
                                                <p class="subDetails">October 2004 - December 2006</p>
                                                <p>Curabitur non consequat enim. Vestibulum bibendum mattis, lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
                                            </article>
                                        </div>
                                        <div class="clear"></div>
                                    </section>
                        </div>
                        <div class="sectionFormation">
                            <section>
                                    <div class="sectionContent">
                                        <h1>Formation</h1>
                                        <hr color="#FAFAFA"/>
                                        <article>
                                            <h2>Université de Montreal</h2>
                                            <h3><i><b>Bachelor degree - Computer Science</b></i></h3>
                                            <h3 class="date"><i>2005 - 2009</i></h3>

                                        </article>
                                        
                                        <article>
                                            <h2>Ecole Supérieure Polytechnique de Dakar</h2>
                                            <h3><i><b>(DUT) Diplome Universitaire de Technologie</b></i></h3>
                                            <h3 class="date"><i>2003 - 2005</i></h3>
                                        </article>
                                    </div>
                                </section>                                
                        </div>
                        <div class="sectionStats">
                            <div class="section2Profile">
                                <div class="section22Profile">
                                </div>
                            </div>
                            <div class="section2Profile">
                                    <div class="section22Profile">
                                    </div>
                                </div>
                        </div>
                    -->
                    </div>
              </div>
        </div>
    </div>
</div>
